body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(160deg, #90ce88, #03a678, #02675a);
  color: #fff;
}

.page-container {
  text-align: center;
  padding: 4rem 2rem;
  background: rgba(255, 255, 255, 0.1);
  margin: 4rem auto;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.page-container h1 {
  color: #ffe6b3;
  margin-bottom: 1rem;
}

.page-container p {
  color: #fdfdfd;
  font-size: 1rem;
}
