.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #0f1111ff;
}

.page-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.page-container p {
  font-size: 1.1rem;
  color: #041c15ff;
}
